{% extends 'base.html' %}



{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 py-5">
            <h1 class="text-secondary text-center">Create Task</h1>
            <form action="/tasks/create/" method="POST" class="card card-body">


                {{error}}
                
                {% csrf_token %}
                {{form}}

                <button class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}