{% extends 'base.html' %}



{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque magnam officiis et perferendis eaque aliquid in facere veniam, quae qui ipsum, ipsam nesciunt. Sunt nostrum consequatur aliquam excepturi ipsa enim!</P>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">Sign In</a>
            
            <a class="btn btn-success" href="/signup/">Sign up</a>
        </div>
    </section>
</main>


{% endblock %}